p {
    font-family: Lato;
    color: cadetblue;
    text-align: center;
    margin-top: 30%
  }
  
  h1 {
    color: teal;
    text-align: center;
  }
  
  footer {
    margin-top: 30%;
    text-align: center;
  }